<!DOCTYPE html>
<html>
    <title>Blog</title>
    <head>
            <!--Here we use semantic ui instead of bootsrap-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"  >
        <link  rel="stylesheet" type="text/css" href="/stylesheet/app.css"
    </head>
<body>
    <!--sets up  a navbar with inverted color like  in bootsrap-->
  <div class="ui fixed inverted menu"> 
         <!--Adding acontainer-->
      <div  class="ui container">
            <!--Addind a header element-->
          <div class="header item"><i class="code icon"></i>Blog Site</div>
          <a href="/" class="item">Home</a>
          <a href="/blogs/new" class="item">New</a>
     </div>
 </div>
 